<p>
Taonomy Treemenu first crawled off of the Drupal forums in Summer 2008.
</p>
<p>
We have a module motto,
</p>
<p>
"Others lead, we follow."
</p>
<p>
Follow <em>what</em>, you ought to ask yourself?
</p>