
Please Note:
<ul>
<li>Treemenu translation settings will override most, if not all, other translation options.</li>

<li>Treemenus usually present themselves in the default language.</li>

<li>The options Treemenu offers depend on the Vocabulary settings for translation.</li>

<li>For translation of content, edit the vocabulary (admin/content/taxonomy/)
and set the 'Translation Mode' to 'Per language terms'.</li>
</ul>
For more help (or possibly confusion), see <a href="&topic:taxonomy_treemenu/translation&">Translation</a>.
