
<h3>Summary</h3>
<ul>
<li>
If alternate URLs are not being used, a designer can override term URLs as usual.
</li>
<li>
If alternate URLs are used, Taxonomy Treemenu provides a Views default template to render them. 
So you don't need to do anything.
</li>
<li>
The template renders the View with Taxonomy Treemenu's menu options enabled for sorting and filtering.
If a designer wishes to alter the view (the title, say), they can do this by overriding (within Views) the default template.
</li>
<li>
If using alternate URLs, it is not currently possible to summon a menu's nodes WITHOUT ordering and sorting via treemenu options.
</li>
</ul>

<h3>BayouBills View</h3>
<p>
There is now a second view, disabled as default, provided by BayouBill. 
I havn't had time to experiment with this, but apparently it includes some URL tricks,
and also axes titles down to size if you use the 'descendant nodes' option.
</p>
<p>
If you are using Views, I'm sure you'll try it anyhow, 
but it is particularly recommended to those building a tidy, maintainable, commercial site.
</p>