
<p>
Drag and drop item rows to organise the order of action or display.
Use the handles (the + shape) to the left of any row.
This works like the Taxonomy admin form. 
</p>

<p>Inactive items (no tick) are ignored. Lower in the list is higher priority.</p>


