
<h3>Summary</h3>
<ul>
<li>
If alternate URLs are not being used, a designer can override term URLs as usual.
</li>
<li>
If alternate URLs are used, Taxonomy Treemenu provides a Views default template to render them. 
So you don't need to do anything.
</li>
<li>
The template renders the View with Taxonomy Treemenu's menu options enabled for sorting and filtering.
If a designer wishes to alter the view (the title, say), they can do this by overriding (within Views) the default template.
</li>
<li>
If using alternate URLs, it is not currently possible to summon a menu's nodes WITHOUT ordering and sorting via treemenu options.
</li>
</ul>

<h3>Description</h3>